@charset "UTF-8";
/*IMPORTS*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.header {
  height: 11vh;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8B6220;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  position: relative; }

.div__logo {
  max-width: 140px;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 10vh; }

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center; }
  .menu__item {
    margin: 1.5rem;
    font-size: 1.5rem;
    transition: all ease 1s; }
  .menu__item:hover {
    transform: rotate(20deg); }
  .menu__item__enlace {
    padding: 1rem;
    text-decoration: none;
    color: #768435;
    font-family: "Montserrat", sans-serif; }
  .menu__item__enlace:hover {
    background-color: #768435;
    color: white; }

.footer {
  background-color: #768435;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh; }
  .footer__enlaces {
    display: flex;
    justify-content: left;
    margin: 1rem; }
  .footer__copyright {
    margin-right: 1rem;
    color: #595959;
    font-size: 2rem; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    height: auto;
    display: flex;
    flex-direction: column; }
  .menu {
    display: block; }
    .menu__item {
      margin: 0rem; }
      .menu__item__enlace {
        font-size: 1rem;
        margin: 0.66667rem; }
  .footer {
    flex-direction: column;
    height: auto; }
    .footer__enlaces {
      justify-content: center; }
      .footer__enlaces__img {
        width: 70%;
        height: 70%; }
    .footer__copyright {
      margin: auto;
      text-align: center;
      font-size: 1rem; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .div__logo {
    width: 100px;
    margin-left: 1rem;
    margin-right: 1rem; }
  .menu__item {
    margin: 0rem; }
    .menu__item__enlace {
      font-size: 0.66667rem;
      margin: 0.66667rem;
      padding: 5px; }
  .footer__enlaces__img {
    width: 70%;
    height: 70%; }
  .footer__copyright {
    font-size: 1rem; } }

.fontSize-1 {
  font-size: 2rem; }

.fontSize-2 {
  font-size: 3rem; }

.fontSize-3 {
  font-size: 4rem; }

.fontSize-4 {
  font-size: 5rem; }

.fontSize-5 {
  font-size: 6rem; }

/* HOME */
#home {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "ceroSeccion"  "primeraSección" "segundaSección";
  background: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%); }

.mainzero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: ceroSeccion;
  height: 35vh;
  background-color: #8B6220;
  margin-bottom: 4rem; }
  .mainzero__titles {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainzero__titles__one {
      font-size: 5rem;
      font-family: 'Kaushan Script', cursive;
      color: white;
      text-shadow: 3px 3px 6px black;
      margin-left: 2rem; }
    .mainzero__titles__two {
      font: 4rem;
      font-family: "Montserrat", sans-serif;
      color: white;
      text-shadow: 2px 2px #555555;
      margin-left: 2rem; }
  .mainzero__img {
    height: 35vh;
    width: 25%; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: primeraSección; }
  .main__first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main__first__img {
      height: 35rem;
      margin: 4rem;
      justify-content: space-around;
      border: 4px solid #8B6220;
      box-shadow: 10px 10px 8px #434b1e; }
    .main__first__lista {
      width: 25vw;
      font-family: "Montserrat", sans-serif;
      color: #646363;
      text-shadow: 2px 2px 4px #768435;
      font-size: 2rem;
      list-style-image: url(../img/diamond.svg); }
      .main__first__lista__item {
        padding: 1rem; }

.maindos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: segundaSección;
  padding: 3rem;
  margin-top: 4rem; }
  .maindos__parrafo {
    text-align: center;
    width: 25vw;
    font-family: "Montserrat", sans-serif;
    color: #646363;
    text-shadow: 2px 2px 4px #768435; }
  .maindos__img {
    height: 35rem;
    margin: 4rem;
    border: 4px solid #8B6220;
    box-shadow: 10px 10px 8px #434b1e; }

/*NOSOTROS*/
.nosotros {
  display: grid;
  justify-items: center;
  background: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%); }
  .nosotros__div {
    height: 60vh;
    width: 99vw;
    background-image: url(../img/backpack.png);
    margin: 4rem auto;
    display: flex;
    position: flex-start;
    justify-content: center; }
    .nosotros__div__titulo {
      align-self: center;
      text-align: center;
      font-family: 'Kaushan Script', cursive;
      clear: both;
      font-size: 5rem;
      color: white;
      text-shadow: 3px 3px 6px black; }
  .nosotros__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem; }
    .nosotros__img__telas {
      height: 40vh;
      border: 1rem;
      margin-right: 2rem;
      box-shadow: 10px 10px 8px #434b1e; }
    .nosotros__img__p {
      width: 30%;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      color: #646363;
      text-shadow: 2px 2px 4px #768435; }
  .nosotros__titulo {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem; }
  .nosotros__lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    list-style-type: none;
    margin: 2rem;
    font-size: 2rem; }
    .nosotros__lista__item {
      margin: 2rem;
      font-family: "Montserrat", sans-serif;
      color: #646363;
      text-shadow: 2px 2px 4px #768435; }
  .nosotros__tresImagenes {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .nosotros__tresImagenes img {
    width: 27vw;
    height: 33vh;
    margin: 1rem;
    box-shadow: 10px 10px 8px #434b1e; }
  .nosotros__hdos {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem; }

/* GALERÍA */
#galería {
  background-image: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%);
  height: 80vh;
  grid-template-rows: 1fr 2fr; }

.busca__titulo {
  color: #d0912d;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  clear: both;
  margin: 3rem auto;
  text-shadow: 3px 3px 6px #545353;
  font-size: 3rem; }

/*MACREANDO*/
.macreando {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  background-image: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%); }
  .macreando__title {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem;
    margin-bottom: 4rem; }
  .macreando__titletwo {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem;
    margin-bottom: 4rem; }

.video {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly; }
  .video video {
    box-shadow: 3px 3px 6px black;
    background-color: white; }

.videotwo {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly; }
  .videotwo video {
    box-shadow: 3px 3px 6px black;
    background-color: white; }

/*PIEDRAS*/
.energías {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  background-image: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%);
  font-family: "Montserrat", sans-serif;
  gap: 3rem;
  justify-content: center; }
  .energías__title {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem;
    grid-column: 2 / 6; }
  .energías__amatista {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2 / 3; }
  .energías__amazonita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 3 / 4; }
  .energías__cornalina {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 4 / 5; }
  .energías__cuarzo {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 5 / 6; }
  .energías__fluorita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2 / 3; }
  .energías__jaspe {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 3 / 4; }
  .energías__labradorita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 4 / 5; }
  .energías__lapislazuli {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 5 / 6; }
  .energías__malaquita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2 / 3; }
  .energías__obsidiana {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 3 / 4; }
  .energías__tigre {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 4 / 5; }
  .energías__onix {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 5 / 6; }
  .energías__luna {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2 / 3; }
  .energías__sol {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 3 / 4; }
  .energías__pirita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 4 / 5; }
  .energías__rodocrosita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 5 / 6; }
  .energías__rodonita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2 / 3; }
  .energías__turmalina {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 3 / 4; }
  .energías__turquesa {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 4 / 5; }
  .energías__unakita {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 5 / 6; }
  .energías img {
    width: 270px;
    height: 270px;
    box-shadow: 3px 3px 6px black; }

.txt {
  position: absolute;
  margin: auto;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 2rem; }
  .txt__list {
    list-style-position: inside;
    color: #353535;
    list-style-image: url(../img/diamond.svg); }
  .txt h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 4px #4b4b4b;
    color: #353535; }

.txt:hover {
  opacity: 1;
  transition: all ease 1s; }

/*CONTACTO*/
.contacto {
  display: grid;
  grid-template-rows: 1fr 5fr;
  background-image: linear-gradient(to bottom, #ffffff 0%, #b3c651 78%, #768435 100%);
  font-family: "Montserrat", sans-serif; }
  .contacto__title {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem; }

.form {
  margin: 3rem auto;
  font-weight: bold; }
  .form__label {
    margin-bottom: 1rem;
    color: #646363;
    text-shadow: 2px 2px 4px #768435; }
  .form__input {
    margin-bottom: 1rem;
    box-shadow: 10px 10px 8px #434b1e; }
  .form__select {
    margin-bottom: 1rem;
    box-shadow: 10px 10px 8px #434b1e; }
  .form__p {
    color: #646363;
    text-shadow: 2px 2px 4px #768435; }

/*ERROR*/
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .error__title {
    color: #d0912d;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: 3rem auto;
    text-shadow: 3px 3px 6px #545353;
    font-size: 4rem; }
  .error__img {
    width: 100vw;
    height: 70vh; }

.list {
  list-style-type: none; }
  .list__button {
    font-size: 2rem;
    border: #8B6220 2px;
    margin-bottom: 1rem; }
  .list__enlace {
    text-decoration: none;
    background-color: #8B6220;
    color: white;
    padding: 1rem; }
  .list__enlace:hover {
    background-color: white;
    border: 2px solid #8B6220;
    color: #8B6220; }

/*MEDIA QUERIES CELULAR */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  /*HOME*/
  .mainzero {
    height: 20vh;
    margin-top: 1rem; }
    .mainzero__titles__one {
      font-size: 1.5rem;
      text-shadow: 1px 1px 2px black;
      margin-left: 1rem; }
    .mainzero__titles__two {
      margin-left: 1rem;
      font-size: 1rem; }
    .mainzero__img {
      height: 20vh;
      width: 45%; }
  .main__first {
    flex-direction: column; }
    .main__first__img {
      height: 30vh;
      width: 30vh;
      margin: auto;
      justify-content: center; }
    .main__first__lista {
      font-size: 1.33333rem;
      margin-top: 1rem; }
      .main__first__lista__item {
        padding: 13px; }
  .maindos {
    flex-direction: column; }
    .maindos__img {
      height: 30vh;
      width: 30vh;
      margin: auto;
      justify-content: center; }
    .maindos__parrafo {
      width: 80vw;
      font-size: 1.33333rem;
      margin-bottom: 2rem; }
  /*NOSOTROS*/
  .nosotros__div {
    width: 100vw; }
  .nosotros__hdos {
    font-size: 2rem; }
  .nosotros__titulo {
    font-size: 3rem; }
  .nosotros__img {
    flex-direction: column; }
    .nosotros__img__telas {
      margin: auto;
      width: 80%;
      height: 80%;
      margin-bottom: 2rem; }
    .nosotros__img__p {
      width: 80vw;
      font-size: 1rem; }
  .nosotros__lista {
    display: block;
    list-style-type: disc; }
    .nosotros__lista__item {
      font-size: 2rem; }
  .nosotros__tresImagenes {
    flex-direction: column; }
  .nosotros__tresImagenes img {
    width: 80%;
    height: 80%; }
  /*GALERÍA*/
  .h-25 {
    width: 75% !important;
    height: 75% !important; }
  /*MACREANDO*/
  .macreando {
    grid-template-rows: 1fr 5fr 1fr 5fr; }
    .macreando__title {
      font-size: 2rem;
      margin-bottom: 0.5rem; }
    .macreando__titletwo {
      font-size: 2rem;
      margin-bottom: 0.5rem; }
  .video {
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .video video {
      width: 80%;
      height: 70%; }
  .videotwo {
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    .videotwo video {
      width: 80%;
      height: 70%; }
  /*PIEDRAS*/
  .energías {
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 2px; }
    .energías__title {
      grid-column: 1 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none;
      font-size: 3rem; }
      .energías__title img {
        width: 100px;
        height: 100px; }
    .energías__amatista {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__amatista img {
        width: 100px;
        height: 100px; }
    .energías__amazonita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__amazonita img {
        width: 100px;
        height: 100px; }
    .energías__cornalina {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__cornalina img {
        width: 100px;
        height: 100px; }
    .energías__cuarzo {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__cuarzo img {
        width: 100px;
        height: 100px; }
    .energías__fluorita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__fluorita img {
        width: 100px;
        height: 100px; }
    .energías__jaspe {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__jaspe img {
        width: 100px;
        height: 100px; }
    .energías__labradorita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__labradorita img {
        width: 100px;
        height: 100px; }
    .energías__lapislazuli {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__lapislazuli img {
        width: 100px;
        height: 100px; }
    .energías__malaquita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__malaquita img {
        width: 100px;
        height: 100px; }
    .energías__obsidiana {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__obsidiana img {
        width: 100px;
        height: 100px; }
    .energías__tigre {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__tigre img {
        width: 100px;
        height: 100px; }
    .energías__onix {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__onix img {
        width: 100px;
        height: 100px; }
    .energías__luna {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__luna img {
        width: 100px;
        height: 100px; }
    .energías__sol {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__sol img {
        width: 100px;
        height: 100px; }
    .energías__pirita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__pirita img {
        width: 100px;
        height: 100px; }
    .energías__rodocrosita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__rodocrosita img {
        width: 100px;
        height: 100px; }
    .energías__rodonita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__rodonita img {
        width: 100px;
        height: 100px; }
    .energías__turmalina {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__turmalina img {
        width: 100px;
        height: 100px; }
    .energías__turquesa {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__turquesa img {
        width: 100px;
        height: 100px; }
    .energías__unakita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__unakita img {
        width: 100px;
        height: 100px; }
  .txt {
    position: inherit;
    opacity: 1;
    background-color: transparent; }
    .txt__list {
      background-color: transparent; }
  .txt:hover {
    opacity: 1;
    transition: none; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*HOME*/
  .mainzero {
    height: 30vh;
    margin-top: 1rem; }
    .mainzero__titles__one {
      font-size: 2rem;
      text-shadow: 1px 1px 2px black;
      margin-left: 1rem; }
    .mainzero__titles__two {
      margin-left: 1rem;
      font-size: 1rem; }
    .mainzero__img {
      height: 30vh;
      width: 40%; }
  .main__first {
    flex-direction: column; }
    .main__first__img {
      height: 50vh;
      width: 50vw; }
    .main__first__lista {
      font-size: 2rem; }
  .maindos {
    flex-direction: column; }
    .maindos__parrafo {
      font-size: 2rem;
      width: 90%; }
    .maindos__img {
      height: 50vh;
      width: 50vw; }
  /*NOSOTROS*/
  .nosotros__div {
    width: 100vw; }
  .nosotros__hdos {
    font-size: "Montserrat", sans-serif1; }
  .nosotros__img {
    flex-direction: column; }
    .nosotros__img__telas {
      width: 81%;
      margin: 1rem auto; }
    .nosotros__img__p {
      font-size: 2rem;
      width: 90%; }
  .nosotros__lista {
    display: block;
    list-style-type: disc; }
    .nosotros__lista__item {
      font-size: 2rem; }
  .nosotros__tresImagenes {
    flex-direction: column; }
  .nosotros__tresImagenes img {
    width: 80%;
    height: 80%; }
  /*GALERÍA*/
  .h-25 {
    width: 75% !important;
    height: 75% !important; }
  /*PIEDRAS*/
  .energías {
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 2px; }
    .energías__title {
      grid-column: 1 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none;
      font-size: 3rem; }
      .energías__title img {
        width: 200px;
        height: 200px; }
    .energías__amatista {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__amatista img {
        width: 200px;
        height: 200px; }
    .energías__amazonita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__amazonita img {
        width: 200px;
        height: 200px; }
    .energías__cornalina {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__cornalina img {
        width: 200px;
        height: 200px; }
    .energías__cuarzo {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__cuarzo img {
        width: 200px;
        height: 200px; }
    .energías__fluorita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__fluorita img {
        width: 200px;
        height: 200px; }
    .energías__jaspe {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__jaspe img {
        width: 200px;
        height: 200px; }
    .energías__labradorita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__labradorita img {
        width: 200px;
        height: 200px; }
    .energías__lapislazuli {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__lapislazuli img {
        width: 200px;
        height: 200px; }
    .energías__malaquita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__malaquita img {
        width: 200px;
        height: 200px; }
    .energías__obsidiana {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__obsidiana img {
        width: 200px;
        height: 200px; }
    .energías__tigre {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__tigre img {
        width: 200px;
        height: 200px; }
    .energías__onix {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__onix img {
        width: 200px;
        height: 200px; }
    .energías__luna {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__luna img {
        width: 200px;
        height: 200px; }
    .energías__sol {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__sol img {
        width: 200px;
        height: 200px; }
    .energías__pirita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__pirita img {
        width: 200px;
        height: 200px; }
    .energías__rodocrosita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__rodocrosita img {
        width: 200px;
        height: 200px; }
    .energías__rodonita {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__rodonita img {
        width: 200px;
        height: 200px; }
    .energías__turmalina {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__turmalina img {
        width: 200px;
        height: 200px; }
    .energías__turquesa {
      grid-column: 1 / 2;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__turquesa img {
        width: 200px;
        height: 200px; }
    .energías__unakita {
      grid-column: 2 / 3;
      position: inherit;
      flex-direction: column;
      box-shadow: none; }
      .energías__unakita img {
        width: 200px;
        height: 200px; }
  .txt {
    position: inherit;
    opacity: 1;
    background-color: transparent; }
    .txt__list {
      background-color: transparent; }
  .txt:hover {
    opacity: 1;
    transition: none; }
  /*MACREANDO*/
  .macreando {
    grid-template-rows: 1fr 1fr 1fr 1fr; }
    .macreando__title {
      font-size: 4rem;
      margin-bottom: 1rem; }
    .macreando__titletwo {
      font-size: 4rem;
      margin-bottom: 1rem; }
  .video video {
    width: 30vh;
    height: 35vh; }
  .videotwo video {
    width: 30vh;
    height: 35vh; } }
