@mixin headingStyle {
    color:#8b6220;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    clear: both;
    margin: $rem-size+1 auto;
    text-shadow: 3px 3px 6px rgb(84, 83, 83);
}
@mixin TextShadow {
    color: rgb(100, 99, 99);
    text-shadow: 2px 2px 4px #768435;
}